<h1>Extraccion de Datos Covid 19</h1>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./owid-covid-data.csv')

In [3]:
df.tail(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
132867,ZWE,Africa,Zimbabwe,2021-11-08,133205.0,18.0,28.286,4690.0,5.0,1.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132868,ZWE,Africa,Zimbabwe,2021-11-09,133242.0,37.0,27.857,4691.0,1.0,1.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132869,ZWE,Africa,Zimbabwe,2021-11-10,133302.0,60.0,30.143,4694.0,3.0,1.429,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132870,ZWE,Africa,Zimbabwe,2021-11-11,133329.0,27.0,31.000,4694.0,0.0,1.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132871,ZWE,Africa,Zimbabwe,2021-11-12,133329.0,0.0,31.000,4694.0,0.0,1.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [4]:
df = df[ df.date == '2021-11-12' ]

In [5]:
df.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
627,AFG,Asia,Afghanistan,2021-11-12,156487.0,31.0,13.571,7292.0,0.0,1.143,...,NaN,NaN,37.746,0.50,64.83,0.511,NaN,NaN,NaN,NaN
1266,OWID_AFR,NaN,Africa,2021-11-12,8554596.0,3275.0,3993.000,220394.0,154.0,170.429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1893,ALB,Europe,Albania,2021-11-12,192013.0,573.0,574.143,2983.0,5.0,5.000,...,7.1,51.2,NaN,2.89,78.57,0.795,NaN,NaN,NaN,NaN
2520,DZA,Africa,Algeria,2021-11-12,207764.0,140.0,109.857,5971.0,5.0,4.571,...,0.7,30.4,83.741,1.90,76.88,0.748,NaN,NaN,NaN,NaN
3141,AND,Europe,Andorra,2021-11-12,15819.0,75.0,28.714,130.0,0.0,0.000,...,29.0,37.8,NaN,NaN,83.73,0.868,NaN,NaN,NaN,NaN
3744,AGO,Africa,Angola,2021-11-12,64875.0,18.0,37.571,1726.0,1.0,1.000,...,NaN,NaN,26.664,NaN,61.15,0.581,NaN,NaN,NaN,NaN
4026,AIA,North America,Anguilla,2021-11-12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,81.88,NaN,NaN,NaN,NaN,NaN
4636,ATG,North America,Antigua and Barbuda,2021-11-12,4106.0,4.0,4.000,106.0,1.0,0.286,...,NaN,NaN,NaN,3.80,77.02,0.778,NaN,NaN,NaN,NaN
5318,ARG,South America,Argentina,2021-11-12,5304059.0,1614.0,1257.000,116222.0,13.0,19.857,...,16.2,27.7,NaN,5.00,76.67,0.845,NaN,NaN,NaN,NaN
5940,ARM,Asia,Armenia,2021-11-12,326830.0,1309.0,1427.286,6937.0,70.0,50.714,...,1.5,52.1,94.043,4.20,75.09,0.776,NaN,NaN,NaN,NaN

In [6]:
df = df.reset_index()

In [7]:
# creando dataframe de continentes
continent_data = df[ df.continent.isna() ]

In [8]:
continent_data.head()

,index,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
1,1266,OWID_AFR,NaN,Africa,2021-11-12,8554596.0,3275.0,3993.000,220394.0,154.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,6830,OWID_ASI,NaN,Asia,2021-11-12,80530159.0,94467.0,93663.714,1193468.0,1638.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,39727,OWID_EUR,NaN,Europe,2021-11-12,68171123.0,311411.0,275558.000,1351313.0,3819.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,40387,OWID_EUN,NaN,European Union,2021-11-12,42128459.0,192894.0,164695.714,815678.0,1453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,51910,OWID_HIC,NaN,High income,2021-11-12,107903756.0,385783.0,288448.286,1784342.0,3753.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
continent_data = continent_data.drop('continent', axis=1)

In [10]:
continent_data[ (continent_data.location == 'Asia') | 
                (continent_data.location == 'Africa') |
                (continent_data.location == 'Oceania') |
                (continent_data.location == 'North America') |
                (continent_data.location == 'South America') |
                (continent_data.location == 'Europe') 
                 ]

,index,iso_code,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
1,1266,OWID_AFR,Africa,2021-11-12,8554596.0,3275.0,3993.000,220394.0,154.0,170.429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,6830,OWID_ASI,Asia,2021-11-12,80530159.0,94467.0,93663.714,1193468.0,1638.0,1434.143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,39727,OWID_EUR,Europe,2021-11-12,68171123.0,311411.0,275558.000,1351313.0,3819.0,3702.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,88534,OWID_NAM,North America,2021-11-12,56378740.0,148165.0,88989.429,1146387.0,2634.0,1496.857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,90747,OWID_OCE,Oceania,2021-11-12,282045.0,1918.0,1742.286,3020.0,19.0,14.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,110655,OWID_SAM,South America,2021-11-12,38608105.0,26107.0,20204.857,1174411.0,393.0,336.286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# eliminando datos nulos de la colummna continent
df = df.dropna( subset=['continent'] )

In [12]:
df

,index,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,627,AFG,Asia,Afghanistan,2021-11-12,156487.0,31.0,13.571,7292.0,0.0,...,NaN,NaN,37.746,0.50,64.83,0.511,NaN,NaN,NaN,NaN
2,1893,ALB,Europe,Albania,2021-11-12,192013.0,573.0,574.143,2983.0,5.0,...,7.1,51.2,NaN,2.89,78.57,0.795,NaN,NaN,NaN,NaN
3,2520,DZA,Africa,Algeria,2021-11-12,207764.0,140.0,109.857,5971.0,5.0,...,0.7,30.4,83.741,1.90,76.88,0.748,NaN,NaN,NaN,NaN
4,3141,AND,Europe,Andorra,2021-11-12,15819.0,75.0,28.714,130.0,0.0,...,29.0,37.8,NaN,NaN,83.73,0.868,NaN,NaN,NaN,NaN
5,3744,AGO,Africa,Angola,2021-11-12,64875.0,18.0,37.571,1726.0,1.0,...,NaN,NaN,26.664,NaN,61.15,0.581,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,129529,VEN,South America,Venezuela,2021-11-12,417998.0,1808.0,917.714,5010.0,14.0,...,NaN,NaN,NaN,0.80,72.06,0.711,NaN,NaN,NaN,NaN
207,130189,VNM,Asia,Vietnam,2021-11-12,1009879.0,8982.0,8047.429,22930.0,81.0,...,1.0,45.9,85.847,2.60,75.40,0.704,NaN,NaN,NaN,NaN
209,131663,YEM,Asia,Yemen,2021-11-12,9912.0,5.0,9.857,1921.0,1.0,...,7.6,29.2,49.542,0.70,66.12,0.470,NaN,NaN,NaN,NaN
210,132268,ZMB,Africa,Zambia,2021-11-12,209963.0,10.0,15.857,3664.0,0.0,...,3.1,24.7,13.938,2.00,63.89,0.584,NaN,NaN,NaN,NaN
211,132871,ZWE,Africa,Zimbabwe,2021-11-12,133329.0,0.0,31.000,4694.0,0.0,...,1.6,30.7,36.791,1.70,61.49,0.571,NaN,NaN,NaN,NaN

In [13]:
#exportando csv
df.to_csv('./covid.csv', index=False)

In [14]:
continent_data.to_csv('./continents_covid.csv', index=False)